<div class="form-container">
    <div class="form">
        <div class="form-title">Register</div>
        <div class="form-row">
            <input class="form-input" type="text" placeholder="username" [(ngModel)]="username">
        </div>
        <div class="form-row">
            <input class="form-input" type="password" placeholder="password" [(ngModel)]="password">
        </div>
        <div class="form-row">
            <input class="form-input" type="password" placeholder="repeat password" [(ngModel)]="repeat_password">
        </div>
        <div class="form-row">
            <input class="form-input" type="text" placeholder="first name" [(ngModel)]="first_name">
        </div>
        <div class="form-row">
            <input class="form-input" type="text" placeholder="last name" [(ngModel)]="last_name">
        </div>
        <div class="button-container">
            <button class="button" >Register</button>
        </div>
        <div class="prompt-container">
            <div class="prompt">
                Already have an account? <span class="prompt-link">Log in</span>
            </div>
        </div>
    </div>
</div>