.post {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    font-size: 20px;
    overflow: hidden;

    .post-header-container{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: purple;
        color: white;
        
        
        .post-author-name{
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .post-content {
        padding: 10px;
    }
}

.posts-container{
    width: 100%;
}