<div class="form-container">
    <div class="form">
        <div class="form-title">Login</div>
        <div class="form-row">
            <input class="form-input" type="text" placeholder="username" [(ngModel)]="username">
        </div>
        <div class="form-row">
            <input class="form-input" type="password" placeholder="password" [(ngModel)]="password">
        </div>
        <div class="button-container">
            <button class="button">
                Login
            </button>
        </div>
        <div class="prompt-container">
            <div class="prompt">
                Don't have an account? <span class="prompt-link">Register</span>
            </div>
        </div>
    </div> 
</div>
