<div class="form-container">
    <div class="form">
        <div class="form-title">Login</div>
        <div class="form-row">
            <input class="form-input" type="text" placeholder="username" [(ngModel)]="username">
        </div>
        <div class="form-row">
            <input class="form-input" type="password" placeholder="password" [(ngModel)]="password">
        </div>
        <error *ngIf="error" class="error-container" [message]="error"></error>
        <div class="button-container">
            <button class="button" (click)="login()">
                Login
            </button>
        </div>
        <div class="prompt-container">
            <div class="prompt">
                Don't have an account? <a routerLink="/register" class="prompt-link">Register</a>
            </div>
        </div>
    </div> 
</div>
